/*puts the sector, slider, and shield generator text in a line*/
.start-position-slider{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: center;
}

/*changes the slider into a vertical position rather than a horizontal position*/
#start-slider {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg); 
}
