.start-position-slider{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: center;
}

#start-slider {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg); 
}

#start-button{
  
}
